.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
}

.logo{
  font-size: 500%;
}

.logo i{
  color: black;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover{
  color: yellow;
}

.tulisan{
  margin-left: 8%;
  margin-top: 13%;
}

.tulisan h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}

.tulisan p{
  color: #555;
  line-height: 22px;
  line-break: 15px;
}

.images{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images .inul{
  bottom: 35px;
}

.images img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape{
  bottom: 40px;
}

.images:hover .inul{
  left: 45%;
}

.heading{
  padding-top: 30px;
  text-align: center;
}

.heading h2{
  font-size: var(--medium-font);
}

.heading span{
  font-size: var(--p-font);
}

.about{
  padding-bottom: 67px;
  position: relative;
}

.about-container{
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-container img{
  width: 60%;
  border-radius: 0.5rem;
  margin-left: 35%;
}

.about-text p{
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
  padding-right: 100px;
  padding-top: 30px;
}

.information{
  margin: 1rem 0 1.4rem;
}

.information .info-box{
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.information .info-box .bx{
  font-size: 22px;
}

.information .info-box span{
  font-weight: 400;
  margin-left: 1rem;
}

.heading h2{
  font-size: 40px;
}

.heading h2 .span{
  font-size: 20px;
}

.skills{
  background: #eff4fd;
  position: relative;
  padding-bottom: 20px;
  justify-content: center;
}

.skills-container{
  display: grid;
  margin-left: 8%;
  margin-right: 8%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.gambar img{
  width: 35%;
  padding-left: 30px;
}

.bars-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.bars-box h3, span{
  font-size: 1.1rem;
  font-weight: 500;
}

.bars{
  margin-left: 40px;
}

.light-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}

.percent-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: hsla(250, 100%, 50%, 0.7);
  border-radius: 0.5rem;
}

.html-bar{
  width: 89%;
}

.pr-bar{
  width: 93%;
}

.css-bar{
  width: 80%;
}

.ps-bar{
  width: 50%;
}

.edu-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 128px;
}

.edu-box{
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
}

.edu-box h3{
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}

.edu-box .bx{
  padding-top: 2rem;
  font-size: 24px;
  color: var(--main-color);
}

.edu-box a{
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}

.ath img{
  padding-bottom: 10px;
  padding-top: 10px;
}

.telkom img{
  width: 47%;
  padding-bottom: 9px;
  padding-top: 10px;
}

.pln img{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
}

.portofolio{
  background: #eff4fd;
  padding-bottom: 20px;
}

.porto-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 430px));
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 30px;
  margin-right: 27px;
  justify-content: center;
}

.porto-img{
  overflow: hidden;
  border-radius: 0.5rem;
}

.porto-img img{
  width: 100%;
  display: block;
  
}

.porto-img img:hover{
  transform: scale(0.9,0.9);
  transition: 1s;
  
}

.contact{
  padding-bottom: 10px;
}

.contact h2{
  align-items: center;
}

.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #0678e3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  background: #eff4fd;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  padding-bottom: 10px;
}
#footer h3 {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}

@media (min-width: 507px) and (max-width: 1132px){
  .tulisan h1{
      padding-right: 70%;
  }
  .tulisan p{
      padding-right: 70%;
  }
  .about-text p{
    padding: 0 0;
  }
}

@media (min-width: 413px) and (max-width: 506px){
  .tulisan h1{
      padding-right: 70%;
      font-size: 40px;
  }
  .tulisan p{
      padding-right: 70%;
      font-size: 15px;
  }
  .tulisan a{
      box-sizing: 30px;
      font-size: 30px;
  }
  .about-text p{
    padding: 0 0;
  }
}

@media (min-width: 368px) and (max-width: 412px){
  .tulisan h1{
      padding-right: 70%;
      font-size: 35px;
  }
  .tulisan p{
      padding-right: 70%;
      font-size: 15px;
  }
  .tulisan a{
      box-sizing: 20px;
      font-size: 20px;
  }
  .about-text p{
    padding: 0 0;
  }
}

@media (min-width: 310px) and (max-width: 367px){
  .tulisan h1{
      padding-right: 70%;
      font-size: 28px;
  }
  .tulisan p{
      padding-right: 70%;
      font-size: 10px;
  }
  .tulisan a{
      box-sizing: 15px;
      font-size: 15px;
  }
  .about-text p{
    padding: 0 0;
  }
}

@media (min-width: 292px) and (max-width: 309px){
  .tulisan h1{
      padding-right: 70%;
      font-size: 23px;
  }
  .tulisan p{
      padding-right: 70%;
      font-size: 10px;
  }
  .tulisan a{
      box-sizing: 9.5px;
      font-size: 9.5px;
  }
  .about-text p{
    padding: 0 0;
  }
}

@media (min-width: 200px) and (max-width: 291px){
  .tulisan h1{
      padding-right: 70%;
      font-size: 20px;
  }
  .tulisan p{
      padding-right: 70%;
      font-size: 9px;
  }
  .tulisan a{
      box-sizing: 8px;
      font-size: 8px;
  }
  .about-text p{
    padding: 0 0;
  }
}

@media (min-width: 1123px) and (max-width: 1132px){
  .images{
      width: 42%;
      height: 75%;
  }
}

@media (min-width: 943px) and (max-width: 1122px){
  .images{
      width: 38%;
      height: 70%;
      margin-bottom: 9%;
  }
}

@media (min-width: 849px) and (max-width: 942px){
  .images{
      width: 34%;
      height: 66%;
      margin-bottom: 15%;
  }
}

@media (min-width: 800px) and (max-width: 848px){
  .images{
      width: 30%;
      height: 62%;
      margin-bottom: 18%;
  }
}

@media (min-width: 573px) and (max-width: 799px){
  .images{
      width: 26%;
      height: 58%;
      margin-bottom: 23%;
  }
}

@media (min-width: 532px) and (max-width: 572px){
  .images{
      width: 22%;
      height: 54%;
      margin-bottom: 23%;
  }
}

@media (min-width: 511px) and (max-width: 531px){
  .images{
      width: 18%;
      height: 50%;
      margin-bottom: 30%;
  }
}

@media (min-width: 442px) and (max-width: 510px){
  .images{
      width: 12%;
      height: 42%;
      margin-bottom: 50%;
  }
}

@media (min-width: 422px) and (max-width: 441px){
  .images{
      width: 12%;
      height: 42%;
      margin-bottom: 48%;
  }
}

@media (min-width: 400px) and (max-width: 421px){
  .images{
      width: 10%;
      height: 40%;
      margin-bottom: 45%;
  }
}

@media (min-width: 375px) and (max-width: 399px){
  .images{
      width: 8%;
      height: 37%;
      margin-bottom: 35%;
  }
  .about-container img{
    width: 100%;
    margin-left: 6%;
  }
}

@media (min-width: 368px) and (max-width: 374px){
  .images{
      width: 5%;
      height: 35%;
      margin-bottom: 50%;
  }
}

@media (min-width: 356px) and (max-width: 367px){
  .images{
      width: 4%;
      height: 33%;
      margin-bottom: 65%;
  }
}

@media (min-width: 318px) and (max-width: 355px){
  .images{
      width: 2%;
      height: 30%;
      margin-bottom: 73%;
  }
}

@media (min-width: 310px) and (max-width: 317px){
  .images{
      width: 1%;
      height: 28%;
      margin-bottom: 76%;
  }
}

@media (min-width: 292px) and (max-width: 309px){
  .images{
      width: 0.3%;
      height: 25%;
      margin-bottom: 90%;
  }
}

@media (min-width: 200px) and (max-width: 291px){
  .images{
      width: 0.1%;
      height: 20%;
      margin-bottom: 110%;
  }
}
